@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
}
body,div,p,ul,ul ol,ol dl,dt,dd,h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
}
img {
  border: medium none;
}
li {
  margin: 0 20px 6px 20px;
  padding: 0;
}
h1 {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 28px;
}
h2 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 20px;
}
h3 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}
.framed {
  margin-bottom: 5px;
  background:#EFEFEF;
  border:#CCC dotted 1px;
  padding:15px 20px;
}
body {
  background: #FFF url(/images/mainbg.png) repeat-x;
  margin: 0 auto;
  width: 960px;
}
#logo {
  padding-top: 6px;
  height: 62px;
}
#header {
  height: 96px;
  font-size: 17px;
}
#login {
  float: right;
}
.h_navi span {
  margin-left: 6px;
  margin-right: 20px;
}
#h_searchbar {
  float: right;
}
#foot{
  margin:0 auto;
  text-align:center;
  border-top:#CCC solid 1px;
  padding:8px 0;
}
#foot span{
  margin: 0 0 3px 0;
  display: block;
}
.ver_item li {
  margin-left: 40px;
  margin-bottom: 6px;
}
.dl_addr {
  margin-left: 12px;
  margin-bottom: 10px;
  padding-left: 28px;
  background: url("/images/download.gif") no-repeat scroll 0px 8px transparent
}
a:link,a:visited,a:hover,a:active{
  color:#6e96f2;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}
/*  */
#header a:link, #header a:visited, #header a:hover, #header a:active{
  color:#6e96f2;
  text-decoration:none;
}

#header a:hover{
  text-decoration:underline;
}
.gallery_item {
  float: left;
  width: 25%;
  margin-bottom: 10px;
  text-align: center;
}
.clear_both {
  clear: both;
}
#slides {
  display: none;
  position: relative;
}
.slidesjs-previous {
  position: absolute;
  top: 102px;
  left: 12px;
  z-index: 20;
}
.slidesjs-next {
  position: absolute;
  top: 102px;
  right: 12px;
  z-index: 20;
}
.center {
  text-align: center;
}
.markdown p {
  margin-bottom: 0.5em;
}
.markdown pre {
  margin-bottom: 5px;
  background:#EFEFEF;
  border:#CCC dotted 1px;
  padding:15px 20px;
}
